<%= stylesheet_link_tag 'custom.css' %>
<h1>All Books</h1>

 <table class="book_list">
  <tr>
    <th>Cover</th>
    <th>Title</th>
    <th>Author</th>
    <th>Length</th>
    <th>Actions</th>
  </tr>
  <tbody>
  <% @books.each do |book| %>
    <tr>
        <td class="cover_table"><img class="book_cover" src= <%= book.cover %>></td> 
        <td><%= book.title %></td>
        <td><%= book.author %></td>
        <td><%= book.pages %></td>
        <td><%= link_to "details", book %> <%= link_to "edit", edit_book_path(book) %></td>
    </tr>
  <% end %>
  </tbody>
</table> 

<%= column_chart @books.group(:author).count %>

<button class="trailing_button"> <%= link_to "New Book", new_book_path %> </button>
