<%= stylesheet_link_tag 'custom.css' %>
<h1>Book Details</h1>

 <table class="book_list">
  <tr>
    <th>Cover</th>
    <th>Title</th>
    <th>Author</th>
    <th>Length</th>
  </tr>
  <tbody>
    <tr>   
        <td class="cover_table"><img class="book_cover" src= <%= @book.cover %>></td>
        <td><%= @book.title %></td>
        <td><%= @book.author %></td>
        <td><%= @book.pages %></td>
    </tr>
  </tbody>
</table> 

<%= column_chart @book.checkpoints.map { |ch|
    {name: ch.page, data: {"setting" => ch.setting, "plot" => ch.plot, "investment" => ch.investment, "character" => ch.character, "enjoyment" => ch.enjoyment}}
} %>

<h2>Checkpoints</h2>
<% @book.checkpoints.order(:page).each do |ch| %>
    <%= ch.page %>: <%= ch.setting %><%= ch.plot %><%= ch.investment %><%= ch.character %><%= ch.enjoyment %><br>
<% end %>

 <h2>Add a checkpoint:</h2>
<%= form_with model: [@book, @book.checkpoints.build] do |form| %>
  <p>
    <%= form.label :page %><br>
    <%= form.text_field :page %>
  </p>
  <p>
    <%= form.label :setting %><br>
    <%= form.number_field :setting %>
  </p>
  <p>
    <%= form.label :plot %><br>
    <%= form.number_field :plot %>
  </p>
  <p>
    <%= form.label :investment %><br>
    <%= form.number_field :investment %>
  </p>
  <p>
    <%= form.label :character %><br>
    <%= form.number_field :character %>
  </p>
  <p>
    <%= form.label :enjoyment %><br>
    <%= form.number_field :enjoyment %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %> 

<button class="trailing_button delete_button"> <%= link_to "Destroy", book_path(@book), 
data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
} 
%> </button>
<button class="trailing_button"> <%= link_to "Home", books_path %> </button>



